.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.shield {
  transform: scale(3);
  z-index: -1;
}

.title {
  font-size: 4em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 40px 0;
  width: 50%;
  border-radius: 50px;
}

.tl .tr .bl .br {
  width: 24px;
  height: 24px;
}
